@import 'styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  border-right: 1px solid $gray-light;
  height: 60px;
}

.loader {
  width: 250px;
  height: 40px;
  border-radius: 8px;
}
