/* landing.css  */

.block {
    position: relative;
}
.t-bold {
    font-weight: 700;
}
.landing__wrapper {
    position: relative;
    overflow: hidden;
}
.landing__page {
    color: #fff;
}
.block__inner {
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.l-table--beige-trans {
    background: rgba(255, 190, 63, .5);
}
.l-table {
    padding: 17px;
    box-sizing: border-box;
    border-radius: 5px;
}
.l-table--beige-trans .l-table__th {
    border-right: 1px solid #ae9166;
}
.chicago11 .l-table__table {
    line-height: 1;
}
.l-table--white-50-trans .l-table__tr {
    border-top: 1px solid #b3b0ae;
}
.l-table--white-50-trans .l-table__th {
    border-right: 1px solid #b3b0ae;
}
.l-table--white-50-trans {
    background: rgba(255, 255, 255, .5);
}
.l-table--beige-trans .l-table__tr {
    border-top: 1px solid #ae9166;
}
.l-table__tr:first-child {
    border: 0!important;
}
.l-table__table {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 15px;
}
/* landing.css адаптив */
@media (max-width: 1200px) {
.block__inner {
    width: 100%;
    overflow: hidden;
}
}
@media (max-width: 1239px) {
.block__inner {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
}
@media (max-width: 1024px) {
.landing__page .block {
    width: 100%;
}
}
@media (max-width: 767px) {
    .slides {
        max-width: none;
    }
}

.l-title--x {
    font-family: PTSans,sans-serif;
    font-size: 42px;
    line-height: 47px;
    text-transform: uppercase;
    letter-spacing: .8px;
}
.l-text--s {
    font-size: 21px;
    line-height: 25px;
}
